{{- $echarts := site.Params.echarts }}
{{- $params := .params }}
{{- $options := .options }}
{{- $js := .js }}
{{- $attrs := newScratch }}
{{- $ordinal := add now.UnixMicro .ordinal }}
{{- $id := printf "echarts-%s-%d" .caller $ordinal }}
{{- $jsVar := replace $id "-" "_" | printf "%s_options" }}
{{- $attrs.Set "id" $id }}
{{- $attrs.Set "class" "echarts" }}
{{- range $k, $v := $params }}
  {{- if strings.HasPrefix $k "_" }}
    {{- continue }}
  {{- end }}
  {{- if in (slice "height" "width") $k }}
    {{- continue }}
  {{- end }}
  {{- if eq $k "class" }}
    {{- $v = printf "echarts %s" $v }}
  {{- end }}
  {{- $attrs.Set $k $v }}
{{- end }}
{{- $style := slice }}
{{- range slice "height" "width" }}
  {{- $key := . }}
  {{- $val := default "" (index $echarts $key) | string }}
  {{- with index $params $key }}
    {{- $val = string . }}
  {{- end }}
  {{- if $val }}
    {{- if not (strings.Contains $val "%") }}
      {{- $val = printf "%spx" $val }}
    {{- end }}
    {{- $style = $style | append (printf "%s: %s" $key $val) }}
  {{- end }}
{{- end }}
{{- with $style }}
  {{- $attrs.Set "style" (delimit . `; `) }}
{{- end }}
{{- $attrsSlice := slice }}
{{- range $k, $v := $attrs.Values }}
  {{- $attrsSlice = $attrsSlice | append (printf `%s="%s"` $k $v) }}
{{- end }}
<div
  {{ delimit $attrsSlice " " | safeHTMLAttr }}
  {{ if not $js }}data-echarts-options="{{ $options }}"{{ end }}
  {{ if $js }}data-echarts-options-var="{{ $jsVar }}"{{ end }}>
</div>
{{- if $js }}
  {{- page.Store.SetInMap "eChartsJSVars" $jsVar $options }}
{{- end }}
