{{- .Page.Store.Set "hasECharts" true -}}
{{- $options := dict }}
{{- $js := default false (.Get "_js") }}
{{- if .Inner }}
  {{- $options = .Inner }}
  {{- if not $js }}
    {{- $options = transform.Unmarshal $options | jsonify }}
  {{- end }}
{{- else if $js }}
  {{- $jsFile := .Get "_jsFile" }}
  {{- with .Page.Resources.Get $jsFile }}
    {{- $options = .Content }}
  {{- else }}
    {{- with resources.Get $jsFile }}
      {{- $options = .Content }}
    {{- end }}
  {{- end }}
  {{- if not $options }}
    {{- errorf "[echarts] no such js file: %s." $jsFile }}
  {{- end }}
{{- else }}
  {{- $data := .Get "data" }}
  {{- with partial "base/functions/data" (dict "key" $data "page" .Page) }}
    {{- $options = jsonify . }}
  {{- else }}
    {{- errorf "[echarts] no such data file: %s." $data }}
  {{- end }}
{{- end }}
{{- $ctx := dict
  "page" .Page
  "caller" "shortcode"
  "ordinal" .Ordinal
  "js" $js
  "options" $options
  "params" (cond (not .Params) dict .Params)
}}
{{- partial "echarts/chart" $ctx }}
